body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #F5F5F5;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}