.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 30px 55px;
  margin: 0;
}

.header__logo {
  width: 180px;
}

.navigation__routes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  padding: 0;
  margin: 0;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
}

.navigation__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.navigation__icon {
  width: 23px;
  height: 23px;
}